body, html {
  height: 100%;
  margin: 0;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF9800;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
header {
  display: flex;
  align-items:  stretch;
  flex-direction: column;
  flex: 0 0 auto;
  width: 100%;
  background-color: #795548;
  color: white;
  /*padding-left: 10px;*/
}
header > span {
  font-size: 2em;
  padding-left: 10px;
}
nav {
  padding-left: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-around;
}
nav > span {
  font-size: 1em;
  border-radius: 4px;
  padding: 2px 10px;
  transition: all 0.5s;
  cursor: pointer;
}
nav > span:hover {
  background-color: #A1887F;
}
hr {
  border-color: white;
  width: 100%;
  border-right : 0;
  border-left: 0;
}
main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main > div {
  width: 250px;
  height: 2em;
  border: 2px solid #795548;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
main > div > div {
  width: 250px;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}
div#label1 {
  top: 0px;
  transition: top 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 1.1em;
  font-weight: bold;
}
div#label2 {
  top: 250px;
  transition: top 0.5s;
  transition-timing-function: ease-in-out;
  font-size: 1.1em;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
}
table {
  border: 1px solid #795548;
  border-spacing: 0px;
  border-color: #795548;
}
td {
  border: 1px solid #795548;
  height: 80px;
  width: 80px;
  text-align: center;
  font-size: 3em;
  font-weight: 100;
}
#debug {
  position: fixed;
  bottom: 0px;
  right: 0px;
  margin-left: 10px;
  width: 45px;
  height: 18px;
  border: 3px solid rgba(131, 45, 43, 0.7);
  transition: all 1s;
  /*, max-width 2s, height 2s;*/
}
#debug.pop {
  width: 400px;
  height: auto;
}
#debug > p {
  color: rgba(0, 0, 0, 0.7);
  margin: 0;
}
#debug > p:nth-child(odd) {
  background-color: rgba(135, 78, 77, 0.7);
}
#debug > p:nth-child(even) {
  background-color: rgba(193, 145, 144, 0.7);
}
